.gift-text span {
  color: #d82a20;
}
.homenews ul {
  height: 110px;
  margin-top: 5px;
}
.homenews ul li {
  height: 60px;
  border-top: 1px solid #ddd;
  padding: 2px 0;
}
.container-productbox {
  overflow: hidden;
}
.div-pd {
  padding: 15px 0;
}
.__cate_1942 a:hover {
  text-decoration: none;
}
.pine-tree {
  display: block;
}
.font-sz {
  font-size: 14px;
}
.list-mn,
.footer {
  font-size: 14px !important;
}
.box-div-slide {
  padding: 0;
}
@media (min-width: 768px) {
  .box-div-slide1 {
    margin-top: 15px;
  }
}
.swal2-popup .swal2-title {
  line-height: 42px;
}
@media screen and (max-width: 776px) {
  .div-slide {
    margin: 0 !important;
  }
  .cIVWIZ {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 78px !important;
  }
  .btn-buys {
    display: none;
  }
  .navbar-collapse {
    display: flex;
  }
  #navbarNavAltMarkup {
    height: auto !important;
  }
  .items-title span {
    font-size: 16px !important;
  }
  .btn-buy-price {
    width: 100% !important;
  }
  .div-pd a {
    text-decoration: none;
  }
  .lists .item {
    width: 100%;
    overflow: hidden;
  }
  .lists {
    padding-right: 0 !important;
  }
}
.price_market {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  font-size: 12px;
  color: #707070;
  text-decoration: line-through;
}
.discount_percent {
  color: #fff;
  background: #007bff;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
}
.icons-tra-gops {
  background-color: #ddd;
  color: #000;
  border: 0;
}
.icons-promotion-per {
  height: 42px;
}
.homenews span a:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #4a90e2;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: inline-block;
  margin-left: 5px;
}
.listproduct {
  grid-gap: 16px;
}
.left-banner {
  float: left;
}
.homebanner .owl-stage-outer {
  width: 100%;
}
.homenews span {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
.homenews span a {
  padding: 10px 0;
  font-size: 14px;
  color: #414042;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 16px;
}
.homenews ul li a {
  overflow: hidden;
  line-height: 1.2em;
  font-size: 14px;
  color: #333;
  word-spacing: 0.15em;
}
.bg-light {
  background-color: #414142 !important;
  height: 64px;
}
.UCDJ9O {
  font-size: 1.5rem;
}
.navbar-nav {
  height: 80% !important;
}
.higiZo {
  text-transform: capitalize;
  font-size: 12px;
}
.oNZiNS {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  background: #414142;
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  position: relative;
  text-align: center;
}
.navbar {
  width: 100%;
}
.cIVWIZ,
.zuQWXW {
  padding-top: 240px;
}
.VUCDM7 {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.B3\+pb\+ {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 0.125rem;
  overflow: hidden;
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}
.PMpbYz {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cmjSHU,
.qifRic {
  width: 280px;
  height: 280px;
}
.FSzItq {
  margin: 5px auto;
  position: relative;
}
.items-title span {
  font-size: 18px;
}
.div-pd {
  margin: 0 auto;
}
.list-pro {
  background: #f5f5f5;
  overflow: hidden;
}
.items-title {
  background: #fff;
}
.items-title span {
  color: #000;
}
.items-title {
  padding: 0 15px;
}
.navbar-light {
  padding: 0;
}
.actives {
  background: #ee4d2d;
  color: #fff !important;
}
.actives .UCDJ9O,
.actives .higiZo {
  color: #fff !important;
}
.X7gzZ7 {
  background-color: rgba(255, 212, 36, 0.9);
}
.aS\+-QV {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  padding: 7px 8px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.yV54ZD {
  width: 36px;
  height: 32px;
}
._8PundJ {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-weight: 400;
  line-height: 0.8125rem;
  color: #ee4d2d;
  text-transform: uppercase;
  font-size: 0.75rem;
}
._5ICO3M {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 4px 2px 3px;
  font-weight: 700;
}
.tSV5KQ {
  color: #fff;
}
.X7gzZ7:after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -4px;
  position: absolute;
  border-color: transparent rgba(255, 212, 36, 0.9);
  border-style: solid;
  border-width: 0 18px 4px;
  width: 50px;
}
.__cate_1942 {
  position: relative;
}
.X7gzZ7 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}
.yV54ZD {
  height: 40px;
}
.IKgh3U {
  color: rgba(0, 0, 0, 0.13);
  text-decoration: line-through;
  margin: 10px 0;
}
.price {
  font-size: 23px;
  font-weight: normal;
  color: #ee4d2d;
}
.price-sale {
  display: flex;
}
.btn-buys {
  line-height: 51px;
  width: 40%;
  text-align: right;
}
.btn-buys button {
  font-size: 13px;
  height: 42px;
  width: 94%;
}
.btn-buy-price {
  width: 60%;
}
.btn-buy-click {
  background: #ee4d2d;
  border: 0;
}
.qOgYxF span {
  color: #ddd;
}
.lists {
  height: 325px;
}
.lists .item {
  height: 97%;
  background: #fff;
}
.progress {
  background-color: #fdbca8;
  border-radius: 8px;
  position: relative;
  height: 12px;
  width: 100%;
  margin-top: 10px;
}
.progress-done {
  background: #e91b24;
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.cIVWIZ {
  max-width: 1200px;
}
#navbarNavAltMarkup {
  height: 80px;
}
.navbar-nav {
  height: 100%;
}
.item-img_1942 {
  text-align: center;
}
.items-title .name {
  margin-top: 10px;
  height: 35px;
  overflow: hidden;
}
.readmore-btn {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  line-height: 16px;
  margin: 10px auto 0;
  padding: 12px 5px;
  text-align: center;
  color: #333;
  width: 340px;
}
.product-view-all .prd-promo__top {
  background: #e94a37;
  padding-top: 1px;
}
.bar-top-lefts {
  display: inline-block;
}
.option-sg,
.option-mbile-sg {
  display: flex;
  overflow: hidden;
  flex-flow: row;
  padding: 15px;
  text-align: center;
  align-items: center;
}
.option-sg a.active,
.option-mbile-sg .active {
  background-color: #fff430 !important;
}
.option-mbile-sg .active span {
  color: #f20028;
}
.option-sg a {
  background-size: 100%;
  height: 83px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.option-sg a {
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  margin: 0 20px 0 0;
  background: #fff;
  border-radius: 8px;
  height: 70px;
  padding: 8px 0;
}
.option-sg a span {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  color: #555;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 0 0;
}
